/**
 * GLOBAL
 */

body {
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
}


/**
 * Utilities
 */

.flex-grid {
  display: flex;
}

.flex-grid--columns {
  flex-direction: row;
}

.flex-grid--rows {
  flex-direction: column;
}

.flex-grid--align-center {
  align-items: center;
}

.flex-grid__box--gutters {
  margin: 8px;
}

.flex-grid__box--0 {
  flex: 0 0 auto;
}

.flex-grid__box--1 {
  flex: 1 1 auto;
}

.flex-grid__box--2 {
  flex: 2 2 auto;
}

/**
 * Layout / UI
 */

.container {
  width: 1024px;
  margin: 0 auto;
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 60px;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  z-index: 1;
  background: transparent;
  transition: background 300ms ease-out;
}

.header--scrolled {
  background: #323B4D;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo__img {
  height: 36px;
  margin-right: 8px;
}

.header__logo__text {
  color: white;
  font-size: 24px;
  font-family: 'Fredoka One', cursive;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header__nav__item {
  margin: 4px;
  padding: 8px;
  color: white;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-bottom 100ms ease-out;
}
.header__nav__item:hover {
  border-bottom: 1px solid white;
}

.footer {
  background: #323B4D;
  padding: 64px;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.footer__logo__image {
  height: 150px;
  margin-bottom: 16px;
}

.footer__logo__text {
  margin-left: 4px;
  color: white;
  font-size: 32px;
  font-family: 'Fredoka One', cursive;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footer__nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__nav__item {
  color: white;
  text-decoration: none;
  margin: 4px;
  padding: 8px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 150ms ease-out;
}
.footer__nav__item:hover {
  border-bottom: 1px solid white;
}

.button {
  font-size: 1rem;
  font-family: 'Nunito', sans-serif;
  padding: 8px 16px;
  background: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 150ms ease-out;
}
.button:hover {
  background: #eee;
}

.button--blue {
  color: white;
  background: #3C8AF1;
}
.button--blue:hover {
  background: #1170ed;
}

.button--purple {
  color: white;
  background: #9166BC;
}
.button--purple:hover {
  background: #7b4bab;
}

/**
 * Animations
 */
.twistable {
  transition: transform 800ms ease-out;
}

.twistable--twist {
  transform: perspective(100vw) rotateY(-20deg);
}

/**
 * Content
 */

.splash {
  position: relative;
  box-sizing: border-box;
  height: 85vh;
  background: black;
  padding: 0 64px;
  padding-top: 72px;
  overflow: hidden;
}

.splash__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../images/splash-oranges.jpg');
  background-size: cover;
  margin: -16px;
  opacity: 0.5;
  filter: blur(8px);
}

.splash__content {
  position: relative;
  padding-top: 5%;
}

.splash__logo {
  margin-top: 48px;
  height: 200px;
}

.splash__text {
  margin-top: 16px;
  margin-bottom: 16px;
}

.splash__title {
  color: white;
  font-size: 3em;
  line-height: 1.5em;
  font-family: 'Fredoka One', cursive;
}

.splash__subtitle {
  color: white;
  font-size: 24px;
}

.splash__screenshot {
  height: 600px;
  box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.6);
}

.hero {
  display: flex;
  height: 300px;
  padding: 32px 0;
}

.hero--centered {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero--blue {
  color: white;
  background: #4F6287;
}

.hero--purple {
  color: white;
  background: #A487C1;
}

.hero__title {
  font-family: 'Fredoka One', cursive;
  font-size: 36px;
  line-height: 1.25em;
  letter-spacing: 2px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.hero__subtitle {
  margin-bottom: 24px;
}

/* .hero__content {} */

.hero__content--right {
  text-align: right;
}

.swiping-is-cool {
  height: 300px;
}
